.testimonial {

  @include media-breakpoint-down(sm) {
    h2 {
      font-size: 1.8rem
    }

    .carousel-inner blockquote {
      font-size: 1rem;
    }

  }
}

.carousel {
  height: 270px;
  @include media-breakpoint-down(xs) {
     height: 330px;
  }

  @media screen and (max-width: 340px) {
    height: 350px;
  }

}
.carousel-inner {
  padding: 1rem 0;
}
.carousel-item {
  padding: 1rem 5rem;
  @include media-breakpoint-down(sm) {
    padding: 1rem 1rem;
  }
}
.carousel-slide {
  position: relative;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  position: absolute;
  top: 25%;
  left: 20%;

  @include media-breakpoint-down(sm) {
    display: none;
  }

}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  position: absolute;
  top: 25%;
  right: 20%;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.carousel-indicators li {
  background-color: black;
}

.carousel-indicators .active {
  background-color: $color-primary-light;
}
